.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.menu2{
    display: flex;
    flex-direction: row;
}

.menu1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.shoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img{
    width: 200px;
    height: 120px;
}

.h2div{
    width: 200px;
}

h2{
    font-size: 15px;
}

h3{
    font-size: 15px;
}

.menuh2{
    margin-right: 10px;
}

.button{
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button1{
    background-color: black;
    color: white;
}

.button2{
    background-color: white;
    margin-left: 10px;
}

a{
    text-decoration: none;
}

